USE [master]
GO
/****** Object:  Database [POKEMON]    Script Date: 26.01.2021 00:08:54 ******/
CREATE DATABASE [POKEMON]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'POKEMON', FILENAME = N'D:\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\POKEMON.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'POKEMON_log', FILENAME = N'D:\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\POKEMON_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [POKEMON].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [POKEMON]
GO
/****** Object:  Table [dbo].[kullanici]    Script Date: 26.01.2021 00:08:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kullanici](
	[kAdi] [nvarchar](50) NOT NULL,
	[sifre] [nvarchar](50) NOT NULL,
	[eposta] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[oyuncu]    Script Date: 26.01.2021 00:08:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[oyuncu](
	[oyuncuID] [int] IDENTITY(1,1) NOT NULL,
	[oyuncuAdi] [nvarchar](50) NOT NULL,
	[poke1] [nvarchar](50) NOT NULL,
	[poke2] [nvarchar](50) NOT NULL,
	[poke3] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_oyuncu] PRIMARY KEY CLUSTERED 
(
	[oyuncuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[oyuncuCani]    Script Date: 26.01.2021 00:08:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[oyuncuCani](
	[birinciOyuncuCan] [char](3) NOT NULL,
	[ikinciOyuncuCan] [char](3) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pokemonBilgi]    Script Date: 26.01.2021 00:08:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pokemonBilgi](
	[pokemonID] [int] IDENTITY(1,1) NOT NULL,
	[pokemonAdi] [nvarchar](50) NOT NULL,
	[pokemonTur] [nvarchar](50) NOT NULL,
	[pokemonCan] [int] NOT NULL,
	[pokemonGuc] [int] NOT NULL,
	[pokemonAciklama] [nvarchar](max) NULL,
 CONSTRAINT [PK_pokemonBilgi_1] PRIMARY KEY CLUSTERED 
(
	[pokemonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pokeYetenek]    Script Date: 26.01.2021 00:08:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pokeYetenek](
	[pokemonAdi] [nvarchar](50) NOT NULL,
	[yetenekAdi1] [nvarchar](50) NULL,
	[yetenekAdi2] [nvarchar](50) NULL,
	[yetenekGucu1Min] [int] NULL,
	[yetenekGucu1Max] [int] NULL,
	[yetenekGucu2Min] [int] NULL,
	[yetenekGucu2Max] [int] NULL
) ON [PRIMARY]
GO
USE [master]
GO
